shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
confirmModulesPurge=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
